<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-4" *nfFor="let character of characters">
    <div class="card">
      <div class="image">
        <a [routerLink]="['/character-details', character.id]">
          <img
            [src]="character.image"
            [alt]="character.name"
            class="card-imag-top"
          />
        </a>
      </div>
      <div class="card-inner">
        <div class="header">
          <a [routerLink]="['/character-details', character.id]">
            <h2>character.name</h2>
          </a>
          <h4 class="text-mute">{{ character.gender }}</h4>
          <small class="text-muted"> {{ character.created }} </small>
        </div>
      </div>
    </div>
  </div>
  <div
    class="col-xs-12 col-sm-6 col-md-12 col-md-12 mt-5 container-notFound"
    *ngIf="character.lenght <= 0"
  ></div>
  >
  <p>No result.....</p>
</div>
<button class="btn btn-dark">Go UP</button>
